/*xl*/
@media (min-width: 768px){
	.col-md-3{
		flex: 0 0 20%!important;
		max-width: 20%!important;
	}
	.info-product{
		height: 300px;
	}
	.swatch .swatch-element.color {
		margin:5px 8px 5px 0;
	}
}
